@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@600&display=swap');

body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 50px;
    background: #333333;
    position: fixed;
    z-index: 10;
}

.logo{
    font-weight: bold;  
    color: #fff;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 22px;
    line-height: 50px;
    -webkit-animation:coming 0.9s;
    -o-animation:coming 0.9s;
    animation:coming 0.9s;
}
.menu li{
    float: left;
    line-height: 50px;
    color: #fff;
    margin-right: 40px; 
    font-size: 14px;
    font-weight: bold;
    -webkit-animation:topsh 0.4s ease forwards;
    -o-animation:topsh 0.4s ease forwards;
    animation:topsh 0.4s ease forwards;
    opacity: 0;
    }

.menu li:nth-child(1){
    animation-delay: 0.6s;}
.menu li:nth-child(2){
    animation-delay: 0.9s;}
.menu li:nth-child(3){
    animation-delay: 1.2s;}
.menu li:nth-child(4){
    animation-delay: 1.5s;}
.menu li:nth-child(5){
    animation-delay: 1.8s;}
.menu li:nth-child(6){
    animation-delay: 2.1s;}

.menu li a{
    text-decoration: none;
    transition: all 0.4s ;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a{color: #fff;}

.menu li a:visited {color: #fff;}

.menu li a:hover {color: #cf7600;}
    
.menu li a:active{
    color: #995511;
    transform: scale(1.1);
}   

.menu{color: #fff;
    float: left;}
    
.menu li{
    color: #fff;
    float: left;
    line-height: 50px;
    color: #fff;
    margin-right: 45px; 
    font-size: 12px;
    font-weight: bold;
    }

@keyframes coming{
    from{opacity: 0;
    }
    to{opacity: 1;
   }
}

@keyframes topsh{
    from{opacity: 0;
    margin-top: -7px; 
    }
    to{opacity: 1;
    margin-top: 0px;
    }
}

.white-btn:visited{color: white;}

.titel_container{
    
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation:titmove 0.9s ease forwards;
    -o-animation:titmove 0.9s ease forwards;
    animation:titmove 0.9s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
    
@keyframes titmove{
    from{
        opacity: 0;
        margin-left: -150px; 
    }
    to{
        opacity: 1;
       margin-left: 1px;
    }
 }
    
.titel_container h1{
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 50px;
    font-weight: 600;
      
}
.titel_container h4{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;    
}
.titel_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #999;
    background: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 0px 16px;
    margin: 50px 10px 0px 10px;
    transition: all 0.2s;
    transform: scale(1);
}
    
.titel_container input:hover {
    background: #344051;
    color: white;       
}

.titel_container input:active {
    box-shadow: 0 0 1px 1px #dcdde1;
    transform: scale(1.1);
}

.text{
    font-size: 12px;
    font-weight: bold;
}

main{
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: rgb(130,130,130);
    background: url(../img/program.png) 100% 100%/auto 100% no-repeat, 
        url(../img/fon-1.jpg) center/cover no-repeat;
}

.loader{
    margin-top: 10px;  
    display: flex;
       
}
    
.bar{
    width: 3px;
    height: 0.1px;
    background-color: rgb(230,230,230);
    margin-right: 4px;
    animation: loader 1.3s  ease-in-out;
    animation-iteration-count: 3;    
}

.loader .bar:nth-last-of-type(1){
    animation-delay: 0.8s;
}
.loader .bar:nth-last-of-type(2){
    animation-delay: 0.7s;
}
.loader .bar:nth-last-of-type(3){
    animation-delay: 0.6s;
}
.loader .bar:nth-last-of-type(4){
    animation-delay: 0.5s;
}
.loader .bar:nth-last-of-type(5){
    animation-delay: 0.4s;
}
.loader .bar:nth-last-of-type(6){
    animation-delay: 0.3s;
}
.loader .bar:nth-last-of-type(7){
    animation-delay: 0.2s;
}
.loader .bar:nth-last-of-type(8){
    animation-delay: 0.1s;
}

@keyframes loader{  
    
    0% {
        background-color: #333333;
        transform: scaleY(-1);      
    }
    50% {
        background-color: #999;
        transform: scaleY(25);
    }
    100% {
        background-color: #333333;
        transform: scaleY(-1);;         
    }   
}

@media (max-width: 990px){
    .titel_container, .titel_container h4, .titel_container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .titel_container input{
        border: 2px solid #fff;}
    
    .main{position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}

                                                       /* ОБО МНЕ */
.menu_page{
    padding: 35px 0px 15px;
    font-size: 24px;
    font-weight: bold;
}

.about_me{
    width: 100%;    
    background: #f3f7f7;
    text-align: center;
}
.foto_1{
    padding: 35px;
}
.text_1{
    margin: 0 25% 55px;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}
.text_2{
    margin-bottom: 60px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
.about_me input{
    margin-bottom: 55px;
    border: 2px solid #999;
    padding: 5px 10px;
    border-radius: 5px;
}
.about_me input:hover {
    background-color: #e6e7eb;
    box-shadow: 1px 1px 1px 1px #dcdde1;
}
.about_me input:active {
  background-color: #e6e7eb;
  box-shadow: 0 1px #dcdde1;
  transform: scale(1.1);  
  font-weight: bold;
}

.col-3{
        display: flex;
    justify-content: center;
}

                                                        /* ЧТО Я УМЕЮ */
.know_how{
    background:url(../img/fon-2.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:auto 100%;
}
  


.menu_page{
    display: flex;
    justify-content: center;
}

.laine{
    display: flex;
    justify-content: center;
}

#menu_1 img{
     margin:65px 0 30px;
     height: 38px;
    -webkit-animation:rov 3s infinite linear;
    -o-animation:rov 3s infinite linear;
    animation:rov 3s infinite linear;   
}
    
@keyframes rov{
    from{
        transform:  rotateY(0deg);
    }
    to{
       transform:  rotateY(360deg);
    }
 }
  
#menu_1 { 
        max-width: 180px;
        margin: 5px;
        text-align:center;
        }

#menu_1 b{
    color:#cf7600;
}
